networks:
  dump-net:
    external: true

volumes:
  backup:
  logs:
  output:

services:
  db-discover:
    #image: alpine:3.20
    build: .
    container_name: db-discovery
    networks:
      - dump-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - output:/output
    environment:
      TZ: Europe/Brussels
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "test -e /output/env_file.sh"]
      interval: 5m
      start_period: 30s
      start_interval: 5s
      timeout: 10s
  db-backup:
    image: tiredofit/db-backup:latest
    container_name: db-backup
    depends_on:
      db-discover:
        #condition: service_healthy
        condition: service_started
    restart: unless-stopped
    networks:
      - dump-net
    volumes:
      - backup:/backup
      - logs:/logs
      - output:/assets/scripts/env/:ro
    environment:
      TZ: Europe/Paris
      BACKUP_JOB_CONCURRENCY: 2
      DEFAULT_RESOURCE_OPTIMIZED: 1
      DEFAULT_COMPRESSION: NONE # NONE for deduplication and ZSTD for standalone
      DEFAULT_SPLIT_DB: TRUE
      CONTAINER_ENABLE_MONITORING: FALSE
      DEFAULT_CLEANUP_TIME: 43200 # min =: 30j
      DEFAULT_BACKUP_INTERVAL: 1440 # min
      DEFAULT_BACKUP_BEGIN: 55 23 * * *
    entrypoint: ["/bin/sh","-c","source /assets/scripts/env/env_file.sh && /init"]